[buildout]
extends =
	base/base.cfg

# Enter project eggs here:
eggs +=
    collective.zamqp
    example.rabbitmq

# Not externals: enter development eggs included in
# this repository here, as src/name.
develop =
    src/example.rabbitmq

# Externals: enter name of development eggs from other repositories
# here, and add to sources below as well. They will be added to
# mr-developer-src and be ignored in this git repository.
auto-checkout =

[sources]
# put project specific sources here.
# Examples:
# collective.mypackage  = svn https://test.com/collective.mypackage/trunk/
# collective.mypackage  = svn https://test.com/collective.mypackage/trunk/@123
# Plone                   = git ${remotes:plone}/Plone.git branch=4.1
# Plone                   = git ${remotes:plone}/Plone.git rev=TAG
#
# Example with pushurl - needed to be able to check out read only by non-collective user
# collective.pfgpreview       = git ${remotes:collective}/collective.pfgpreview.git pushurl=${remotes:collective_push}/collective.pfgpreview.git


[instance]

zcml +=

zope-conf-additional =
    %import collective.zamqp

    <amqp-broker-connection>
        connection_id testrabbit
    </amqp-broker-connection>

#    <amqp-consuming-server>
#        connection_id testrabbit
#        site_id site
#    </amqp-consuming-server>


[listening-instance]
# this instance just consumes messages

zcml +=

zope-conf-additional =
    %import collective.zamqp

    <amqp-consuming-server>
        connection_id testrabbit
        site_id site
    </amqp-consuming-server>


